:root {
  --background: #f0f8ff;
  --primary: #bc002d;
  --accent: #ffc0cb;
  --text: #333333;
  --title: #f6f4ff;
  --border: #ffe4e1;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: var(--background);
  color: var(--text);
  transition: all 0.2s ease-in-out;
}

header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1.1rem 2rem;
  background: var(--primary);
  color: var(--background);
  transition: all 0.3s ease-in-out;
}

header h1 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}

header img {
  width: 2rem;
  height: auto;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin: 0 1rem;
}

header nav ul a {
  font-weight: bold;
  text-decoration: none;
  color: var(--title);
}

header nav ul a:hover {
  color: var(--accent);
  transform: scale(1.1);
}

header.hidden {
  transform: translateY(-100%);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  padding: 3rem;
}

main h2 {
  font-size: 2rem;
  font-weight: 800;
  align-items: center;
  text-align: center;
}

main p {
  font-size: 1rem;
}

.card {
  width: 70vw;
  padding: 1rem;
  text-align: left;
  text-rendering: geometricPrecision;
  border: 2px solid var(--border);
  border-radius: 16px;
  background: var(--accent);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.card h3 {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1rem;
}

.card p {
  font-weight: 500;
  padding: 0 1em 1em 1em;
}

.card ul {
  padding: 0 1em 1em 1em;
  list-style: outside;
}

.card li {
  font-weight: 500;
}

.card img {
  width: 100%;
  border-radius: 5px;
}

.card a {
  text-decoration: none;
  color: var(--primary);
  font-weight: 600;
}

.menu-toggle,
footer nav {
  display: none;
}

footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 2rem 0;
  text-align: left;
  background-color: var(--text);
  color: var(--title);
  border-top: 3px solid var(--primary);
}

footer a {
  text-decoration: none;
  color: var(--title);
  margin: 5px;
}

footer a:hover {
  text-decoration: underline;
  color: var(--primary);
}

footer .links,
footer .credits,
footer .social {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

footer p {
  margin-left: 5px;
}

noscript {
  display: block;
  position: fixed;
  max-width: 20vw;
  top: 7rem;
  left: 2px;
  font-weight: 500;
  font-size: 0.8em;
  padding: 0.7em;
  border: 2px solid var(--primary);
  border-radius: 5px;
  color: var(--primary);
  background-color: var(--background);
}

@media screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .menu-mobile {
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px;
    background: var(--primary);
    z-index: 1000;
  }

  .menu-toggle {
    font-size: 24px;
    background: none;
    color: var(--title);
    border: none;
    cursor: pointer;
  }

  header nav {
    display: none;
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    background: var(--primary);
    opacity: 0.9;
    border-radius: 0 0 10px 10px;
  }
  
  header nav ul {
    justify-content: center;
    list-style: none;
    padding: 10px;
  }

  header nav ul li {
    margin: 10px 0;
  }

  header nav ul a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--title);
  }

  header nav.ativo {
    display: block;
  }

  .menu-toggle {
    display: block;
  }

  main {
    padding: 0;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
  }

  footer {
   display: block;
    padding: 2rem 2rem 5rem;
    text-align: left;
    background-color: var(--text);
    color: var(--title);
    border-top: 3px solid var(--primary);
  }

  footer nav {
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary);
    border-radius: 10px 10px 0 0;
    z-index: 9;
  }

  footer nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: .8rem 1rem;
  }

  footer nav ul a:hover {
    color: var(--accent);
  }

  footer nav ul .icon {
    font-size: 1.4rem;
  }
}